@font-face {
	font-family: 'Press Start 2P';
	src: url('/PressStart2P-Regular.ttf');
}

:root {
	--background: #030c2e;
	--text: #acbcd2;
	--dark-text: #706f7c;
	--primary: #4bffd8;
	--dark: #005c48;
	--white: #ffffff;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-size: 1.25rem;
}

body h1 {
	font-size: 2rem;
}

body h2 {
	font-size: 1.75rem;
}

body h3 {
	font-size: 1.45rem;
}

body p {
	line-height: 2rem;
}

a {
	color: var(--primary);
	text-decoration: underline;
	text-underline-offset: 25%;
	line-height: 2rem;
}

a:hover {
	color: var(--white);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}

.post-body h2, h3, h4 {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.post-body a {
	text-underline-offset: 0%;
}

.post-body p {
	margin-bottom: 1.5rem;
	text-align: justify;
}

.post-body hr {
	border-bottom: 1px solid var(--primary);
	width: 50%;
	margin: 3rem auto;
}

.post-body pre {
	border: 1px solid var(--primary);
	margin-bottom: 1.5rem;
	overflow: auto;
	padding: 1.5rem;
}

.post-body code {
	color: var(--white);
	background-color: var(--dark);
	font-family: 'Courier New', Courier, monospace;
}

.post-body pre code {
	background-color: transparent;
}

.post-body ul {
	padding-left: 3rem;
	margin-bottom: 1.5rem;
}

.post-body ol {
	padding-left: 3rem;
	margin-bottom: 1.5rem;
}

.post-body li {
	margin-bottom: .75rem;
}

.post-body blockquote {
	border-left: 2px solid var(--primary);
	padding: 0 0 0 2rem;
	margin: 3rem 0rem 3rem 3rem;
}