@font-face {
	font-family: 'Press Start 2P';
	src: url('/PressStart2P-Regular.ttf');
}

:root {
	--background: #030c2e;
	--text: #8693a4;
	--dark-text: #706f7c;
	--primary: #4bffd8;
	--dark: #005c48;
	--white: #ffffff;
}

body {
	background-color: var(--background);
	color: var(--text);
}

a {
	color: var(--primary);
	text-decoration: underline;
	text-underline-offset: 25%;
}

a:hover {
	color: var(--white);
}

nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--primary);
	box-shadow: 0px 3px #005c48;
	width: 100%;
	padding: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}

.post-body h2 {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.post-body p {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	line-height: 2rem;
}

.post-body a {
	text-underline-offset: 0%;
}

.post-body hr {
	border-bottom: 1px solid var(--primary);
	width: 50%;
	margin: 2rem auto;
}

.post-body pre {
	border: 1px solid var(--primary);
	padding: 1rem;
	margin-bottom: 2rem;
}

.post-body code {
	color: var(--white);
	background-color: var(--dark);
	font-family: 'Courier New', Courier, monospace;
}

.post-body pre code {
	background-color: transparent;
}

.post-body ul {
	margin-bottom: 1rem;
	padding: 0px 4rem;
}

.post-body ul li {
	font-size: 1.25rem;
	line-height: 2rem;
}

.post-body blockquote {
	border-left: 2px solid var(--primary);
	padding: 0 0 0 2rem;
	margin: 3rem 0rem 3rem 3rem;
}
